wget==3.2
torch==2.8.0
torchvision==0.23.0
opencv-python==4.11.0.86
diffusers==0.34.0
transformers==4.53.2
tokenizers==0.21.4
accelerate==1.8.1
tqdm==4.67.1
ftfy==6.3.1
imageio-ffmpeg==0.5.1
flash_attn==2.7.4.post1
numpy==1.26.4
xfuser==0.4.3.post3
yunchang==0.6.3.post1
easydict
pyloudnorm
librosa
moviepy==2.2.1
omegaconf==2.3.0
kornia
torchao==0.10.0